#dashboard {
    /* display: flex; */

}



#board {
    display: grid;
}

.open {
    background-color: lightgray;
    border: solid 1px black;
    font-weight: bolder;
    text-align: center;
    justify-content: center;

    #touching-0 {
        color: transparent;
    }
    #touching-1 {
        color: blue;
        text-shadow: 1px 1px black;
    }
    #touching-2 {
        color: green;
        text-shadow: 1px 1px black;
    }
    #touching-3 {
        color: yellow;
        text-shadow: 1px 1px black;
    }
    #touching-4 {
        color: orange;
        text-shadow: 1px 1px black;
    }
    #touching-5 {
        color: red;
        text-shadow: 1px 1px black;
    }
    #touching-6 {
        color: purple;
        text-shadow: 1px 1px black;
    }
    #touching-7 {
        color: saddlebrown;
        text-shadow: 1px 1px black;
    }
    #touching-8 {
        color: black;
        text-shadow: 1px 1px black;
    }
}



.closed {
    background-color: darkgray;
    border: solid 1px black;
    color: transparent;
}

.flagged {
    background-color: hotpink;
}